<div class="container">
  <form action="/{{subject}}/{{title}}/upload" method="post" enctype="multipart/form-data">
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" name="myImage">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <button type="submit" class='btn'>Submit</button>
  </form>
</div>

<div class="container">
  <h1>{{title}}</h1>
  {{#if text}}
  <div class="row">
    <form action="/{{subject}}/{{title}}/save" method="post"  class="col s12">
      <button type="submit" name="button" class="btn">Save</button>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" name="text">{{text}}</textarea>
        </div>
      </div>
    </form>
    </div>
  {{/if}}


</div>
<div class="container">
  {{#if photo}}
    <img src="{{photo}}"  class="responsive-img">
  {{/if}}
</div>
